* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 40px;
}

header {
  width: 100%;
  height: 8%;
  background-color: #003d10;
  top: -10px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

header>hgroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header hgroup h1 {
  font-size: 35px;
  font-weight: 550;
  color: rgb(214, 214, 214);
}

header hgroup h2 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(214, 214, 214);
}

nav {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 550;
  color: rgb(214, 214, 214);
}

main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

main section {
  font-size: 20px;
}

article>hgroup p {
  font-style: italic;
  font-weight: 400;
}

article {
  padding: 30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

article>hgroup>h2 {
  text-align: center;
  font-size: 32px;
}

article section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

section figure {
  align-self: center;
  border: 1px solid black;
  padding: 10px;
}

section figure figcaption {
  text-align: center;
}

article section mark {
  width: max-content;
  padding: 7px;
}

main>aside {
  background-color: #ededed;
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 20px;
  gap: 20px;
}

main>aside h3 {
  text-align: center;
}

main>aside a {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

main article details {
  background-color: rgb(93, 233, 93);
  padding: 15px;
  border-left: 6px solid green;
  color: hsl(120 30% 34% / 1);
}

footer {
  align-self: flex-end;
  width: 100%;
  background-color: #c7c7c7;
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
}

footer dialog {
  align-self: flex-end;
  padding: 10px;
}