* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 40px;
}

header {
  width: 100%;
  height: 8%;
  background-color: #003d10;
  top: -10px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

header > section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header section h1 {
  font-size: 35px;
  font-weight: 550;
  color: rgb(214, 214, 214);
}

header section  h2 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(214, 214, 214);
}

nav {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  list-style: none;
  font-size: 22px;
  font-weight: 550;
  color: rgb(214, 214, 214);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

article {
  padding: 30px;
  border: 1px solid black ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

article > h2 {
  text-align: center;
  font-size: 28px;
}

footer {
  /* position: fixed; */
  width: 100%;
  height: 5%;
  bottom: 0;
  background-color: #c7c7c7;
}
